.section {
  height: 100vh;
  width: 100vw;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.section1 {
  background-color: #e8cfe9;
}

.section2a {
  background-color: #a1e0f3;
}

.section2b {
  background-color: #000000;
  text-align: center;
}

.section3 {
  background-color: rgb(245, 191, 118);
}

.section4 {
  background-color: #aae0a8;
}

.section5 {
  background-color: #969696;
}

.section6 {
  background-color: #78be82;
}

.section7 {
  background-color: #bd7171;
}

.section8 {
  background-color: #b64e25;
}

.section9 {
  background-color: #e8cfe9;
}

h1 {
  font-size: 8.5rem;
}

ul > li {
  font-size: 3rem;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
