body {
  font-family: arial, helvetica;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  padding: 50px;
}

.section1 {
  background-color: #e8cfe9;
}

.section2a {
  background-color: #a1e0f3;
}

.section2b {
  background-color: #000000;
  text-align: center;
}

.section3 {
  background-color: rgb(245, 191, 118);
}

.section4 {
  background-color: #aae0a8;
}

.section5 {
  background-color: #969696;
}

.section6 {
  background-color: #78be82;
}

.section7 {
  background-color: #bd7171;
}

.section8 {
  background-color: #b64e25;
}

.section9 {
  background-color: #e8cfe9;
}

h1 {
  font-size: 9.5rem;
}

ul > li {
  font-size: 3rem;
}

.fp-slidesNav ul li a.active span {
  background-color: chartreuse;
}

.image {
  height: 100% !important;
}
